html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("https://arquitetodebolso.com.br/wp-content/uploads/2024/02/61224_copy_Hallway1-6.jpeg") no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}
body {
    margin: 0;
    overflow: hidden;
}
.glassEffect {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    background-color: var(--bg-glassEffect);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    min-width: 100%;
    min-height: 100%;
}