.lista-clientes-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.titulo-lista {
    font-size: 1.7rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ffce09;
    text-shadow: #000 0 0 5px;
}

.lista-vazia {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    text-shadow: #f00 0 0 5px;
    color: #fff;
}
